<div class="container flex" >
    <h3>Argumentos: {{args}}</h3>
    <h3>Directorio de trabajo: {{path}}</h3>
    <h3>Id del proceso: {{id}}</h3>
    <h3>Versión de Node: {{version}}</h3>
    <h3>Sistema Operativo:{{so}}</h3>
    <h3>Uso de la memoria: {{memory}}</h3>
    
    <button type="botton" class="btn btn-secondary" id="volver" onclick="location.href='http://localhost:8080/login'">Ir a Inicio</button>
</div>