{{>header}}
{{#if isRender}}
    <div class="contenedor">
        <h1 style="text-align: center">Bienvenid@ {{username}}</h1>
        <div class="contenedor d-flex p-2 flex-wrap">
            {{#each productos}}
                <div class="card tarjeta">
                    <img class="card-img-top img-fluid" alt="..." src="{{foto}}">
                    <div class="card-body">
                        <h5 class="card-title">{{nombre}} - {{codigo}}</h5>
                        <p class="card-text">{{descripcion}}</p>
                        <p class="card-text">Precio: {{precio}} $</p>
                        <a href="#" class="btn btn-primary">Agregar al Carrito</a>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    {{else}}
        <div class="contenedor card tarjeta title" style="height:200px">No hay Productos</div>
{{/if}}
{{>mensajeria}}
{{>footer}}